<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 18.08.2022, 23:05</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pessoas mais interessantis.A ordem dos tratores não altera o pão duris.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Diuretics paradis num copo é motivis de denguis.</p>
        </div>

        <div>
            <p>publicado: 18.08.2022, 23:08</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Per aumento de cachacis, eu reclamis.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Quem manda na minha terra sou euzis!</p>
        </div>
    </body>
</html>